html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;

  background-color: rgb(190, 190, 190);
}

.hero-title {
  margin-bottom: 46px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Sections */

.section {
  padding-bottom: 94px;
}

.add-padding {
  padding-top: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Примущества */

.advantages-title {
  margin: 0px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-img {
  margin-bottom: 55px;
}

.advantages-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Чем мы занимаемся */

.section .caption {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

p.caption {
  margin-top: 27px;
  margin-bottom: 27px;
}

/* Наша команда */

.background {
  background-color: #f5f4fa;
}

.team-img {
  margin-bottom: 30px;
}

.names {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  margin-top: 0px;
  margin-bottom: 28px;

  font-size: 16px;
  line-height: 1.19;
}
