.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: rgb(190, 190, 190);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order:focus {
}

/* Sections */

.section-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Примущества */

.advantages-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */

.section .caption {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Наша команда */

.names {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
}
